<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecampusmobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <supports-screens
        android:anyDensity="false"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/icon_pht112"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".eCampusMainActivity"
            android:label="eCampus Mobile App\n for PHT112 Registration" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".phtregistrationActivity"
            android:label="Your Profile" >
        </activity>
        <activity
            android:name=".phtregistrationpage2Activity"
            android:label="PHT112 Registration" >

        </activity>
        <activity
            android:name=".lastActivity"
            android:label="PHT112 Registration" >
        </activity>
        <activity
            android:name=".ReagistrationStatusActivity"
            android:label="Registration Status" >
        </activity>
        <activity
            android:name=".DuplicateActivity"
            android:label="@string/title_activity_duplicate" >

        </activity>
    </application>

</manifest>